@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Bai Jamjuree', sans-serif;
  /*
  0xEFEEEE - 0x242323 = 0xCBCBCB
  Neumorphic stuff seems fun, but isn't well suited for dark pages.
  However I'd prefer to not be flashbanged. So we tone all colors down by
  0x242323.
  */
  background-color: #cbcbcb;
  color: #626262;
}